* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  background: black url(imagens/mapa.gif) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: auto;
  width: 100vw;
  padding: 5%;
  flex-wrap: wrap;
}

.main {
  width: 70vw;
  position: absolute;
}

.pai-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  margin-bottom: 3rem;
  height: auto;
}

h1 {
  position: absolute;
  font-size: 6rem;
  text-shadow: 3px 3px black;
  text-align: center;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  padding: 1rem;
  border-radius: 10px;
  max-height: 9rem;
  flex-wrap: nowrap;
  display: flex;
}

h3 {
  font-size: 3rem;
}

p,
li {
  list-style-type: none;
  font-size: 2rem;
}

.card {
  margin-top: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  height: 40rem;
  width: 30%;
  backdrop-filter: blur(0.5rem);
  padding: 1rem;
  overflow: hidden;
  position: relative;
  transition: border 0.5s ease-in-out;
}

.card:hover {
  border: 4px solid white;
}

.card .texto {
  position: relative;
  top: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  transition: top 0.5s ease-in-out;
}

.card:hover .texto {
  top: 0;
  cursor: pointer;
}

.personagem {
  height: 15rem;
  align-items: center;
}

.menu_superior {
  font-size: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 12rem;
  z-index: 1;
  text-align: left;
  text-indent: 1rem;
  height: 100vh;
  left: 0;
}

.logo {
  height: 4.5rem;
  left: 0.5rem;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.menu_superior > li > a {
  color: white;
  text-decoration: none;
  padding: 3px;
}

.menu_superior > li > a:hover {
  background-color: rgba(255, 255, 255, 0.93);
  color: black;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 1rem;
}

footer > a {
  font-size: 3rem;
  text-decoration: none;
}
footer > a:hover {
  color: rgb(241, 254, 0);
}

@media (max-width: 1024px) {
  .card {
    height: auto;
    width: 60%;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translate(-67.5%);
  }

  .pai-1 {
    width: 90vw;
    transform: translate(5%);
  }

  h1 {
    display: none;
  }

  h3,
  p,
  li {
    font-size: 1.6rem;
  }

  .menu_superior {
    flex-direction: row;
    font-size: 3rem;
    width: 100vw;
    height: auto;
    align-items: center;
    padding: 1rem 0;
  }

  .menu_superior > li {
    margin-right: 1rem;
  }

  .card .texto {
    
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    transform: translate(-20%);
    
  }
  .personagem{
    height: 10rem;
  }

  .texto>h3{
    position: absolute;
    right: 40%;
    bottom: 85%;
    background-color: black;
    padding: 1%;
    border-radius: 1rem;
  }
  .texto>ul>li{
   list-style-type:none;
  }

  .logo {
    position: fixed;
    bottom: 0;
  }

  footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 1rem;
    width: 100vw;
    text-align: center;
    height: 5rem;
  }
  footer > h3 {
    display: none;
  }
  footer > a {
    font-size: 3rem;
    text-decoration: none;
  }
  footer > a:before {
    content: "By ";
  }
  footer > a:hover {
    color: rgb(241, 254, 0);
  }
}
